@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />

</head>
<body>
    <div class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Tapeless" aria-controls="Tapeless" role="tab" data-toggle="tab">Tapeless</a></li>
            <li role="presentation"><a href="#Broadcast" aria-controls="Broadcast" role="tab" data-toggle="tab">Broadcast</a></li>
            <li role="presentation"><a href="#Managment" aria-controls="Managment" role="tab" data-toggle="tab">Managment</a></li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Tapeless">
                <h3>Tapeless</h3>
                <table id="TapelessTable" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>IP Addr</th>
                            <th>In Use</th>
                            <th>vLan</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="Broadcast">
                <h3>Broadcast</h3>
                <table id="BroadcastTable" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>IP Addr</th>
                            <th>In Use</th>
                            <th>vLan</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="Managment">
                <h3>Mgmt</h3>
                <table id="ManagmentTable" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>IP Addr</th>
                            <th>In Use</th>
                            <th>vLan</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        

    <script type="text/javascript">
        $(document).ready(function () {
            loadTable('TapelessTable', '1');
            loadTable('BroadcastTable', '2');
            loadTable('ManagmentTable', '3');
        });


        function loadTable(table, id) {

            var rows = $('#' + table + "_table tbody tr").length;

            if (rows < 1) {

                $('#' + table).dataTable({
                    "bServerSide": true,
                    "sAjaxSource": "/json/ips/" + id,
                    "bProcessing": true,
                    "aoColumns": [
                                    { "sName": "IpAddr" },
                                    { "sName": "InUse" },
                                    { "sName": "Vlans" },
                                    { "sName": "Ping" }
                    ]
                });
            }
        }
    </script>
</body>
</html>