@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DameUnaIP.Models
@model DameUnaIP.Models.VlansModel

<div class="row">
    <div class="col-lg-12">
        <h2>vLans</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Tapeless
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae  ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
            <div class="panel-footer">
                Panel Footer
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                Broadcast
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae  ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
            <div class="panel-footer">
                Panel Footer
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Public DMZ
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae  ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
            <div class="panel-footer">
                Panel Footer
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                Managment
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Network</strong></td>
                                <td>10.221.173.1</td>
                            </tr>
                            <tr>
                                <td><strong>Mask</strong></td>
                                <td>255.255.255.0</td>
                            </tr>
                            <tr>
                                <td><strong>Gateway</strong></td>
                                <td>10.221.173.1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Private DMZ
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Network</strong></td>
                                <td>10.221.173.1</td>
                            </tr>
                            <tr>
                                <td><strong>Mask</strong></td>
                                <td>255.255.255.0</td>
                            </tr>
                            <tr>
                                <td><strong>Gateway</strong></td>
                                <td>10.221.173.1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>